@import './reset.css';
@import './fonts.css';
@import './landing.css';
@import './markdown.css';

:root {
  --theme-default-border-colour: black;
  --theme-default-font-family: InterVariable;
  --theme-default-font-feature-settings: normal;
  --theme-default-font-variation-settings: 'slnt' 0;
  --theme-default-mono-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --theme-default-mono-font-feature-settings: normal;
  --theme-default-mono-font-variation-settings: normal;
  --theme-default-placeholder-colour: #9ca3af;

  --main-width: 64rem;

  --c-main-bg: #fff;
  --c-hero-bg: oklch(23.4% 0.047 302.13);
  --c-hero-text: #fff;
  /*--f-native-serif: Iowan Old Style, Apple Garamond, Baskerville,*/
  /*  Times New Roman, Droid Serif, Times, Source Serif Pro, serif,*/
  /*  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;*/

  --c-very-red: oklch(88% 0.4 27);
  --c-very-green: oklch(80% 0.4 142);
  --c-very-blue: oklch(62% 0.4 220);

  --radius: 0.5rem;

  --font-lg: 2rem;
  --font-xl: 2.7rem;
  --font-xxl: 4rem;
}

/* Utilities */
/* (I use the fact that these come earliner in the source to override
    some utility properties later) */

.section-white {
  padding: 0 2rem;
}

.section-dark {
  padding: 2rem;

  background-color: var(--c-hero-bg);
  /* color: oklch(from var(--c-hero-bg) 95% calc(c * 50%) h); */
  color: oklch(95% 0.0235 302.13);

  border-radius: var(--radius);
  /* meant to be equal to --main-width, vars can't be used in media queries */
  @media (max-width: 64rem) {
    & {
      border-radius: 0;
    }
  }
}

.link {
  /*color: oklch(from var(--c-very-blue) 50% c h);*/
  color: oklch(50% 0.4 220);
  text-decoration: underline;
  text-underline-offset: 0.1rem;

  &:hover {
    text-decoration: none;
  }

  .section-dark &,
  &.on-dark {
    /*color: oklch(from var(--c-very-blue) 73% c h);*/
    color: oklch(73% 0.4 220);
  }
}

.highlight {
  display: inline-block;
  position: relative;

  &::before {
    position: absolute;
    top: 0.11em;
    right: -0.04em;
    bottom: 0.11em;
    left: -0.04em;
    z-index: -1;
    content: ' ';
  }

  &.green::before {
    background-color: var(--c-very-green);
  }

  &.red::before {
    background-color: var(--c-very-red);
  }

  &.blue::before {
    background-color: var(--c-very-blue);
  }
}

/* Content */

html,
body {
  width: 100%;
}

body {
  background-color: var(--c-main-bg);

  font-optical-sizing: auto;
}

header,
footer,
main {
  width: 100%;
  max-width: var(--main-width);
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  gap: 5rem;

  min-height: 95vh;
}

footer {
  padding: 1rem 2rem;

  background-color: var(--c-hero-bg);

  /*color: oklch(from var(--c-hero-bg) 70% c h);*/
  color: oklch(70% 0.047 302.13);

  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  /* meant to be equal to --main-width, vars can't be used in media queries */
  @media (max-width: 64rem) {
    & {
      border-radius: 0;
    }
  }

  margin-top: 5rem;

  text-align: center;
}

header {
  padding: 1rem 2rem;

  background-color: var(--c-hero-bg);

  /*color: oklch(from var(--c-very-blue) 73% c h);*/
  color: oklch(73% 0.4 220);

  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  /* meant to be equal to --main-width, vars can't be used in media queries */
  @media (max-width: 64rem) {
    & {
      border-radius: 0;
    }
  }
}
