# load AWS region
# this is a bit of a mess
# todo: centralise env/node management in the repo root
source_up_if_exists

export NODE_VERSION_PREFIX=v
export NODE_VERSIONS=~/.nvm/versions/node
use node

PATH_add node_modules/.bin

dotenv_if_exists secrets.env